nav{
  width: 100vw;
  display: flex;
  justify-content: center;
  color: blue;
  font-size: large;
}

nav ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

nav a{
  text-decoration: none;
}

.nav-item{
  display: flex;
  align-self: center;
  width: 12.5vw;
}

#logo{
  width: 25vw;
}

#login{
  display: flex;
  width: 20vw;
}

#logo, #login{
  justify-content: center;
}