* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  min-height: 100vh;
  position: relative;
  width: 100vw;
}

.navbar {
  display: flex;
  width: 100vw;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
.navbar img {
  width: 5vw;
}
.dropdown{
  justify-content: flex-end;
  overflow: hidden;
}
.dropdown .dropbtn{
  font-size: 2.5rem;
  border: none;
  outline: none;
  text-decoration: none;
  color: white;
  padding: 0 4rem 0 4rem;
  margin: 0;
  background-color: #00a8c7;
  font-family: "Goldman", cursive;
}
.navbar a:hover .dropdown:hover .dropbtn{
  background-color: whitesmoke;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
}
.dropdown-content a{
  color:  #00a8c7;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover{
  background-color: #E9E9E9;
}
.dropdown:hover .dropdown-content{
  display: block;
}

#landingpagemain{
  background-image: url("img/background.jpeg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
  position: center fixed;
}
.blackpagemain{
  background-color: black;
}

#landingpagetitle{
  font-size: 5rem;
  text-align: center;
  color: white;
  padding: 40vh 25vw 40vh 25vw;
}
h1{
  font-size: 5rem;
  text-align: center;
  color: black;
  padding-top: 10vh;
}
.blackpagetitle{
  font-size: 5rem;
  text-align: center;
  color: white;
  padding-top: 10vh;
}

.whitepagetext{
  color: black;
  font-size: 1.5rem;
  width: 50vw;
  float: right;
}
.blackpagetext{
  color: white;
  font-size: 1.5rem;
  width: 50vw;
  float: left;
}

h2{
  font-size: 2.5rem;
  text-align: center;
  color: black;
}
.blackpagesubtitle{
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

footer{
  text-align: center;
  padding: 10px;
  background-color: #00a8c7;
  color: white;
  font-size: 1.5rem;
  height: 5vh;
  bottom: 0;
  position: absolute;
  width: 100vw;
}

main img{
  width: 20%;
}
