html {
  display: flex;
  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  margin: 0;
}

h1, h2, h3, p {
  display: flex;
  justify-content: center;
}

nav {
  width: 100vw;
  min-height: 7vh;
  background-color: #131C27;
  position: fixed;
  display: flex;
  justify-content: center;
}

nav ul{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#branding {
  width: 30vw;
  display: flex;
  font-family: 'Pattaya', sans-serif;
  font-size: larger;
  color: white;
}

#nav-items{
  width: 65vw;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}

.navitem {
  width: 15vw;
  display: flex;
  justify-content: space-around;
}

nav li, nav a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

#hero {
  height: 100vh;
  display: flex;
  background-image: url("img/landing-page.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header {
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.hero-header-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 2rem;
  font-size: 3.5rem;
}

.hero-header-text p {
  width: 55vw;
  text-align: center;
  font-size: 1.9rem;
}

.book-now-btn {
  margin-top: 2rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
}

#book-now {
  width: 11vw;
  height: 6vh;
  background-color: #4b6e97;
  border-style: none;
  align-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: white;
}

.locations-page {
  height: 100vh;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  background-image: url("img/new-york-page.png"), linear-gradient(#707070, rgb(218, 218, 218));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.locations-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 5rem;
  color: white;
}

.locations-header h2 {
  display: flex;
  justify-content: flex-start;
  width: 24rem;
  border-bottom: white solid 5px;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.locations-header p {
  display: flex;
  justify-content: flex-start;
  margin: 0px;
  font-size: 1.8rem;
}

.benefits-page {
  display: flex;
  flex-flow: column wrap;
  height: 115vh;
}

.benefits-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 30vh;
  background-color: #131C27;
  color: white;
}

.benefits-header h2 {
  width: 100vw;
  font-size: 3rem;
  margin-bottom: -1rem;
}

.benefits-header-p {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  font-size: 2rem;
  width: 100vw;
}

.benefits-header p {
  text-align: center;
  margin-top: 1.1rem;
  width: 80vw;
}

.benefits-boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 12vh;
}

.benefits-box {
  justify-content: space-between;
  display: flex;
  flex-flow: column wrap;
  height: 60vh;
  width: 20vw;
  box-shadow: #575757 1px 1px 5px;
  background-color: white;
}

.benefits-box-header {
  display: flex;
  justify-content: center;
  height: 10vh;
  background-color: #131C27;
}

.benefits-box-header p{
  width: 50vw;
  text-align: center;
}

.benefits-box-icon {
  width: 3.5vw;
}

.benefits-box-text {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.benefits-box-text h3 {
  margin-top: -2rem;
}

.benefits-box-text p {
  margin: 2rem 1rem 0rem 1rem;
  text-align: center;
}

.contact-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-image: url("img/contact-mountain.png"), linear-gradient(#707070, rgb(218, 218, 218));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-box {
  width: 60vw;
  height: 70vh;
  background-color: rgb(19, 28, 39, 0.7);
  border-radius: 25px;
  display: flex;
  flex-flow: column wrap;
}

#contact-header h2 {
  color: white;
  font-size: 2.5rem;
  padding-bottom: 5.6rem;
}

#contact-form {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  color: white;
}

.contact-form-inputa {
  display: flex;
  justify-content: center;
}

.contact-form-inputb {
  display: flex;
  justify-content: center;
  align-content: center;
  border-style: gray 1px;
  margin: 10px 40px;
  padding: 10px;
  width: 15vw;
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
}

.contact-form-inputb:focus {
  outline: none;
}

.contact-form-label {
  display: flex;
  align-items: center;
}

#contact-btn-box {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: 140px;
  opacity: 1;
}

#submit {
  border-style: none;
  background-color: #4b6e97;
  padding: 9px 11px;
  width: 60vw;
  height: 6vh;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 1em;
  border-radius: 0px 0px 25px 25px;
}

button:hover {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  width: 100vw;
  max-height: 8vh;
  background-color: #131C27;
  color: white;
}

.footer-text {
  display: flex;
  width: 20vw;
  font-weight: 700;
}

#footer-items{
  width: 70vw;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
}

.footer-item {
  display: flex;
  justify-content: flex-end;
  width: 20vw;
}

#instagram, #twitter, #youtube{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

@media screen and (max-width:767px){
  nav ul{
    flex-flow: column wrap;
    padding: 0px;
  }
  
  #branding {
    width: 100vw;
    justify-content: center;
  }
  
  #nav-items{
    width: 100vw;
  }
  
  .navitem {
    width: 33vw;
    justify-content: center;
  }

  #hero {
    height: 150vh;
  }
  
  h1 {
    font-size: 1.8rem;
  }
  
  .hero-header-text p {
    width: 80vw;
    font-size: 1.4rem;
  }
  
  #book-now {
    width: 140px;
    font-size: 0.8rem;
  }

  .locations-page {
    height: 150vh;
  }
  
  .locations-header h2 {
    width: 302px;
    font-size: 2.4em;
  }
  
  .locations-header p{
    padding-right: 50px;
    font-size: 1.2em;
  }
  
  .benefits-page {
    height: 160vh;
  }
  
  .benefits-header{
    height: 28vh;
  }
  
  .benefits-header h2 {
    font-size: 1.8em;
    width: 80vw;
    text-align: center;
  }
  
  .benefits-header-p {
    font-size: 1.1em;
    width: 90vw;
  }
  
  .benefits-boxes {
    flex-flow: column wrap;
    align-content: space-evenly;
    padding-top: 2rem;
  }
  
  .benefits-box {
    height: 38vh;
    width: 75vw;
    margin: 1rem 0rem
  }
  
  .benefits-box-header {
    height: 10vh;
    width: 75vw;
  }

  .benefits-box-icon {
    width: 8vw;
  }
  
  .benefits-box-text {
    height: 20vh;
  }
  
  .benefits-box-text h3 {
    margin: 1rem 0rem;
  }
  
  .benefits-box-text p {
    margin: 0.5rem 1rem;
  }
  
  .contact-page {
    height: 150vh;
  }
  
  .contact-box {
    width: 90vw;
  }
  
  .contact-form-inputb {
    width: 40vw;
  }
  
  #contact-btn-box {
    margin-top: 110px;
  }
    
  #submit {
    width: 90vw;
    height: 7vh;
  }

  footer{
    min-height: 12vh;
  }
  
  .footer-text {
    justify-content: center;
  }
  
  #footer-items{
    width: 100vw;
  }

  .footer-item{
    width: 33vw;
    justify-content: center;
  }
}